<div class='row full-height-vh'>
    <div class='col-12 d-flex align-items-center justify-content-center'>
        <div class='row'>
            <div class='col-12 text-center'>
                <img src="~/img/gallery/maintenance.png" alt="" class="img-fluid maintenance-img mt-2" height="300" width="300">
                <h1 class="mt-4">@L("WorkFlow.UnderConstruction")</h1>
                <div class="maintenance-text w-75 mx-auto mt-4">
                    <p>@L("WorkFlow.About")</p>
                </div>
                <a href="#" class="btn btn-warning my-2" data-toggle="modal" data-target="#createWorkFlowModal">@L("WorkFlow.Create")</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left show" id="createWorkFlowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel34">@L("WorkFlow.Create")</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                </button>
            </div>
            <form name="createWorkFlowForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <fieldset class="form-group floating-label-form-group">
                        <label for="name">@L("Name")</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="@L("Name")" required>
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <label for="description">@L("Description")</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="@L("Description")"></textarea>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn bg-light-secondary" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-success" onclick="createWorkFlow()">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/WorkFlow/_CreateStageModal.cshtml")
@section scripts
    {
    <partial name="_Script" />
}